* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu {
    list-style: none;
}

/* a {
    color: currentColor;
    text-decoration: none;
} */

img {
    max-width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(229,227,222);
    background: linear-gradient(0deg, rgba(229,227,222,1) 75%, rgba(0,168,132,1) 75%)
}

#root {
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    height: 90%;
    background-color: #FFFFFF;
}

.chat,
.sidebar {
    display: flex;
    flex-direction: column;
}

.chat {
    flex-grow: 1;
}

.sidebar {
    flex-basis: 350px;
}

.screenchat {
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    background-size: cover;
}

.contacts {
    background-color: #FFFFFF;
    flex-grow: 1;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F2F5;
    padding: 8px 15px;
}

.pro-pics {
    width: 35px;
    border-radius: 50%;
}

.last_access {
    display: block;
    opacity: 35%;
    font-size: 0.6rem;
}

.toolbar:first-child {
    border-left: 1px solid rgb(229,227,222);
}

.toolbar_profile {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.8rem;
}

.toolbar_items i {
    margin: 0 3px;
    opacity: 30%;
}

.notifier {
    font-size: 0.7rem;
    display: flex;
    gap: 10px;
    align-items: center ;
    background-color: skyblue;
    padding: 5px 10px;
}

.notifier i {
    padding: 10px;
    font-size: 1rem;
    background-color: white;
    color: skyblue;
    border-radius: 50%;
}

.search {
    display: flex;
    gap: 1px;
    padding: 5px;
    background-color: #F0F2F5;
}

.search input, .search button {
    background-color: #FFFFFF;
    border: none;
}

.search button {
    padding: 4px 10px;
    font-size: 0.7rem;
}
.search button i {
    opacity: 30%;
    margin: 0 10px;
}

.search input {
    font-size: 0.7rem;
    padding: 3px 5px;
    flex-grow: 1;
}

.contact {
    border-top: 1px solid #F0F2F5;
    padding: 7px 15px;
    display: flex;
    gap: 8px;
}

.chatbox {
    display: flex;
    align-items: center;
    background-color: #F0F2F5;
    padding: 3px 2px;
}

.chatbox input {
    border-radius: 3px;
    border: none;
    flex-grow: 1;
    padding: 8px;
}

.chatbox input::placeholder {
    opacity: 35%;
    font-size: 0.7rem;
}

.chatbox_items {
    margin: 0 15px;
    opacity: 40%;
}